DATABASE_URL="postgresql://postgres:postgres@localhost:5432/acceso-vehicular?schema=public"


# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=asdsdadasdasd
NEXTAUTH_URL=http://localhost:3000/